Django==5.2.17
djangorestframework>=3.16,<4
django-cors-headers>=4.7,<5
dj-database-url>=2.3,<3
psycopg[binary]>=3.2,<4
gunicorn>=23,<24
Faker>=37,<40
pytest>=8,<10
pytest-django>=4.10,<5
pytest-cov>=6,<8
